.App {
  text-align: center;
  padding:5rem;
  background-color: #ccc;
}

.Token{
  padding:5px;
}

.Filter{
  background-color: #FFE184;
  /* margin: 5px; */
  /*font-weight: bolder; */
}

.DeleteFilter{
  background-color: #f32a52;
  color:#ffffff;
}

.deleteBtn{
  top: -10px;
  position: relative;
  left: -10px;
  float:left;
}

.Label{
  padding: 5px;
  margin: 5px;
  background-color: #FFE184;;
}

.Category{
  background-color: brown;
  color:white;
  /* font-weight: normal;
  font-size: medium; */
  /* border-radius: 3px; */
  /* padding-left: 3px;
  padding-right: 3px; */
}

.SelectedLabel{
  background-color: brown;
  color:white;
}

/* #content{
  font-size:large;
}

.mb-3{
  margin:5px;
} */